svg {
  background: #efefef
}
.sphere {
  fill: #A8DADE;
}
.graticule {
  fill: #A8DADE;
}
.land {
  fill: rgb(151, 216, 145);
  stroke: #95d5ff;
  stroke-width: 2px;
}
.lakes {
  fill: #76B3C0;
}
.rivers {
  stroke: #76B3C0;
  stroke-width: 0.3px;
  fill: none;
}
.turkey {
  fill: #666666;
}
.route {
  stroke: #929292c5;
  stroke-width: 0.5px;
}