svg {
  background: #efefef
}
.sphere {
  fill: #A8DADE;
}
.graticule {
  fill: #A8DADE;
}
.land {
  fill: #B6D891;
}
.lakes {
  fill: #76B3C0;
}
.rivers {
  stroke: #76B3C0;
  stroke-width: 0.3px;
  fill: none;
}
.turkey {
  fill: #000000;
  stroke: #010101;
  stroke-width: 0.0215;
}
.route {
  stroke: #B0B3A9;
  stroke-width: 0.3px;
}